*,
li {
  box-sizing: border-box;
  font-family: monospace;
  list-style-type: none;
}
span a {
  color: red;
  margin-right: 5px;
}

.article-main {
  text-align: center;
  padding: 20px;
}

div.article-1 {
  padding-top: 15px;
  text-align: center;
  font-size: 15px;
}

div.article-2 {
  text-align: center;
  font-size: 15px;
}
.article-1 span {
  background-color: red;
  border-radius: 5px;
  color: white;
}

.article-2 span {
  background-color: red;
  border-radius: 5px;
  color: white;
}
